/.Build/
/.idea/
/.cache/
/.php_cs.cache
/.php-cs-fixer.cache
/Build/testing-docker/.env
/Build/phpunit/FunctionalTests-Job-*
/Build/phpunit/.phpunit.cache
/composer.lock
/Documentation-GENERATED-temp/
/public/
/Tests/Unit/.phpunit.result.cache
/var/
/vendor/
/bin/
/typo3temp
